agm-map {
  height: 400px;
}

.location-inputs {
  display: flex;
  flex-direction: column;
}

.location-inputs mat-form-field {
  margin: auto;
}

button {
  margin: auto;
}

.form-buttons {
  display: flex;
  // width: 25%;
  // margin: auto;
}

.directions-container {
  width: 80%;
  margin: auto;
}

.location-inputs {
  width: 100%;
}

.locations {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.locations app-location-entry {
  margin-right: 1%;
  margin-left: 1%;
}

.directions-container {
  display: flex;
  justify-content: space-around;
}

.directions-display {
  width: 55%;
}
