
<div style="text-align:center">
  <h1>
    Traveling Salesman
  </h1>

  <div #map style="width:85%;height:400px;margin:auto"></div>
  <div id="address-content">
      <img src="" width="16" height="16" id="place-icon">
      <span id="place-name"  class="title"></span><br>
      <span id="place-address"></span>
  </div>

  <!-- Next steps: Post to Github, clean up console and UI bugs (showingPath etc.),
  change markers on map, unit discrepancy -->

    <div class="directions-container">

      <div class="location-inputs">
        <form>
        <h3>Enter Locations</h3>

        <div class="locations">
            <app-location-entry *ngFor="let location of locationForms; let i = index" counter="{{i+1}}" [map]="map"
            [chosenLocations]="chosenLocations" (notify)="setMarker($event)"></app-location-entry>
        </div>

        </form>
        <div class="add-location">
          <button mat-button color="primary" (click)="addLocation()">+Add Location</button>
        </div>
        <div>
          <button class="form-buttons" mat-raised-button (click)="submitForm()">Submit</button>
          <button class="form-buttons" mat-raised-button (click)="clearForm()">Clear</button>
        </div>

      </div>

      <!-- Next steps: Displaying directions better, markers, readme, expand to 4 distance matrices -->
      <!-- <div *ngIf="loading"><h5>Loading</h5></div> -->

      <div *ngIf="showingDirections" class="directions-display" id="directions-panel">
        <div *ngIf="foundBestPath && bestDistance > 0">
          <h4>Initial Distance: {{ formatDistance(initialDistance) }} kilometers</h4>
          <h4>Simulated Annealing Distance: {{ formatDistance(bestDistance) }} kilometers</h4>
          <h4> Route Order: </h4>
          <h5 *ngFor="let elem of bestArray; let i = index">{{i+1}}. {{elem.formatted_address}}</h5>
          <h5>{{bestArray.length + 1}}. {{bestArray[0].formatted_address}}</h5>
          <!-- <button matButton>Detailed Directions</button> -->
          </div>
         <br>


      </div>

    </div>





<router-outlet></router-outlet>
